


<% content_for :body_class, "fo" %>

    <div id="cursor"></div>
    <div id="g-ms">
        <div class="g-ms_i"></div>
    </div>
    <div class="animation">

          <div class="fade_group">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="fade_group2">
            <div></div>
            <div></div>
        </div> 

    </div>
    

      
    

        <div class="container">

            <!-- <div class="circle"></div> -->

            <div class="big-title2">
                <h1 class="catch">
                    Creating Boundless<br> 
                    Wonders Shaping<br>the Future
                    <p class="name">AKIRA SAKAMOTO</p>
                </h1>
            </div>    
        </div>  
        <div class="lemon backgroundLemon">
          <%= image_tag "pexels-tara-winstead-6489631.png", width: "320px" %>
        </div>  
             <progress class="progress" value="25" max="100"></progress>

   
        
           
        <main>
            <div class="img-container">
              <div class="self-img-container">
                <%= image_tag "selfy.png", width: "540px", height: "480px", alt: "akira sakamotoの自画像写真" %>
              </div>
            </div>
        </main>
    
        <div class="container2">
          <section class="container3">
            <div class="discription">
                <div class="observed">
                    <dl class="profile">
                      <dt>Akira Sakamoto</dt><br>
                        <dd>
                        <p class="bold">坂本 章 / Currently based in fukuoka in Japan </p>
                        
                        <p class="bold">Started self-studying web development in 2022
                        and Since 2023, I have been refining my foundational knowledge 
                        at the vocational support center called Frontier Link to transition 
                        into employment. Day and night, 
                        I am making relentless progress in order to build my career.
                        </p><br>
                        <p>福岡在住。2022年から独学でWeb/プログラミングの勉強を開始。
                        <p>2023年からプログラミングスクールフロンティアリンクにて基礎知識に磨きをかける。</p>
                        <p>キャリアを積むべく日夜、猛進中。</p><br>
                        <p class="link">
                          <%= link_to "https://github.com/henrry-sakurazaka" %>
                        </p>
                        <br><br>
                        </dd>
                    </dl>
                  </div> 

                <div class="inner-text">
                  <div class="observed">
                    <dl>
                      <div class="inner-title">
                        <dt class="policy">Policy</dt>
                      </div>
                        <dd class="item1">

                          <p class="bold">
                            Turning moments of “I don’t get it” into “Ah, I see!”
                            That’s the kind of experience I hope to create through the power of the web.
                            As I build my career in the web and IT industry, I aim to develop a solid foundation while creating websites and applications that spark excitement—always keeping UI/UX and accessibility in mind.
                            My goal is to help convey each client’s message and value clearly and compellingly. I'm committed to learning continuously to provide experiences that are both meaningful and engaging.
                            </p>
                          <br>

                        <p>「誰かの“わかりにくい”を、“なるほど！”に変える」
                            そんな瞬間を、Webという手段を通して生み出していきたいと考えています。
                            Web・IT業界での経験を通じて、確かな基礎力を身につけながら、UI/UXやアクセシビリティにも配慮した、訪れた人がワクワクするようなWebサイトやアプリケーションを作っていきたいと思っています。
                            クライアント様の想いや魅力を正確に、そして魅力的に伝えるお手伝いができるよう、日々学び続けていきたいです。                                 
                        </p><br><br>
                      </dd>
                    </dl>
                  </div>

                  <div class="observed">
                    <dl>
                      <div class="inner-title">
                        <dt class="skills">Skills & Development</dt>
                      </div>

                      <dd class="item2">
                        <p class="bold2">  Git , &nbsp;Docker , &nbsp;HTML , &nbsp;CSS , &nbsp;Sass , &nbsp;JavaScript 
                        , &nbsp;JQuery , &nbsp;Node.js , &nbsp;React, &nbsp;Ruby on Rails, &nbsp;Next.js, &nbsp;TypeScript, 
                        &nbsp;PHP, &nbsp;Ruby, &nbsp;MySQL, &nbsp;PostgreSQL, &nbsp;Firebase ,
                        &nbsp;GCP
                        </p><br><br>
                      </dd>
                    </dl>
                  </div>

                <div class="observed">
                    <dl>
                      <div class="inner-title">
                        <dt class="specialty">Specialty</dt>
                      </div>

                          <dd class="item3">
                            <p class="special bold"> Music production, bass, recording, 
                              and live performance I have been involved in music activities 
                              for many years, including playing in bands,recording,and performing live.
                            </p>
                            <br>
                            <p class="special-jp">
                                長年、趣味で音楽活動をしています。音楽制作、配信、バンドでの演奏、レコーディング、ライブ、主にベースをプレイします。
                            </p>
                            <br>
                            
                            <p class="link">
                              <%= link_to "https:/on/.soundcloud.com/xJPvF", "https://soundcloud.com/a_s_up_2?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing",  class: "soundCloud" %>
                            </p>
                        </dd>
                    </dl>
                </div>

                <div class="observed">
                    <dl>
                      <div class="inner-title">
                        <dt class="hobbies">Hobbies</dt>
                      </div>

                        <dd class="item4">
                        <p class="hobby bold"> I enjoy music appreciation, reading, and cooking. On my days off, 
                              I dig for unknown songs online and search for books by my favorite authors.
                        </p>
                
                        <br>
                        <p class="hobby-jp">
                            趣味は音楽全般、読書、料理。好きな作家はサリンジャー、得意料理は、アーリオ・オーリオベースのパスタ。
                            休日は知らない曲をネットでディグったり、お気に入りの作家の本を探したりしています。最も、最近では
                            休日もまだ知らない技術の習得や情報のキャッチアップに明け暮れています。</p>
                            
                        </dd>
                    </dl>
                </div>
            </div>        
            
            <div class="nav-container">
                <nav class="navi">
                    <div class="dot animate__bounce animate__infinite"></div>
                    <%= link_to "Contact", contact_path,  class: "contact" %>
                    <div class="center">
                        <div class="center-inner">
                            <div class="inner">
                                <%= link_to "Top", home_path, class: "slide-in-nav2" %>
                            <span class="line2"></span>
                        </div>
                    </div>       
                </nav>
            </div>
          </section>
        </div>    
                
        <span class="mark">+</span>
        <div class="big-contact" ontouchstart="">
            <%=  link_to "CONTACT", contact_path, class: "big-text change-page" %>
        </div>  
  
       
    <footer>    
      <h6 class="copy">&copy;OffSetCodeCraft.com All Rights Reserved</h6>
    </footer>


    <div class="credit">
        <%= link_to "著作者：rawpixel.com/出典：Freepik", "https://jp.freepik.com/free-photo/brick-wall-room-architecture-indoor-concept_2861605.htm#page=5&query=%E8%83%8C%E6%99%AF&position=33&from_view=keyword&track=sph" %>
    </div> 
      
        
    <%= javascript_include_tag "portfolio-about.js", defer: true %>
        
