
<html lang="ja"> 
    <head>
      <title><%= content_for(:title) || "My Portfolio" %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <meta charset="UTF-8">
      <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "destyle", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "MS", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "audio", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "change-page", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= yield :head %>
      <%= tag.link rel: "preconnect", href: "https://fonts.googleapis.com" %>
      <%= tag.link rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true %>
      <%= tag.link href: "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Castoro+Titling&family=Monoton&family=Montserrat+Alternates:wght@500&family=Questrial&display=swap", rel: "stylesheet" %>
      <%= tag.link href: "https://fonts.googleapis.com/css2?family=Prata&display=swap", rel: "stylesheet" %>
      <%= javascript_include_tag "jquery-3.6.1min", defer: true %>
      <%= javascript_importmap_tags %>
      // <%#<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
      <%= javascript_include_tag "bgm", defer: true %>
      <%= javascript_include_tag "MS", defer: true %>
      <%= javascript_include_tag "open-window", defer: true %>
    </head>

    

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">

      <audio id="audio" src="/audios/palm_tree_lullaby_mix.mp3" loop></audio>


      <script>
        var audioIconPath = "<%= asset_path('audio-svgrepo-com.svg') %>";
        var muteIconPath  = "<%= asset_path('mute-svgrepo-com.svg') %>";
      </script>

       <header class="<%= 'contact_header' if current_page?(contact_path) %>">
          <div class="site-title">
            <p class="title-name"><%= link_to "Akira", home_path %></p>
            <p class="sakamoto"><%= link_to "Sakamoto", home_path %></p>
          </div>
            <div class="wrapper">
                <div class="audio_wrap">
                <div class="audio_button">
                    <%= image_tag "listen.png", class: "listen", width: "160px", height: "160px" %>
                    <%= image_tag "mute-svgrepo-com.svg", width: "72px", height: "72px", class: "sound-logo" %>
                </div>
                </div>
            </div>        
        </header>

    <%= yield %>
    
        <progress class="progress" value="25" max="100"></progress>

  </body>
</html>
